page {
	background: linear-gradient(180deg, #383848, #22222c);
	min-height: 100%;
	font-size: 28rpx;
	color: #ffffff;
	/* line-height: 1.8; */
}

.u-navbar {
	background: #393948 !important;
}

.u-model__footer__button {
	color: #b9b2b2 !important;

	&.hairline-left {
		color: $uni-color-primary !important;
		border-left: 1px solid var(--u-border-color);
	}
}

.u-model__btn--hover {
	background-color: #4a4a5a !important;
}

.u-collapse-head {
	opacity: 1;
}

.u-collapse-item+.u-collapse-item {
	border-top: 1px solid #4a4a5a !important;
}

.u-collapse-content {
	padding-bottom: 12px !important;
}

.u-checkbox__icon-wrap {
	background-color: #fff;
}

.u-checkbox__label {
	font-size: 13px !important;
	margin-right: 0 !important;
}

.u-dropdown {
	min-width: 100px;

	.u-dropdown-item {
		border-radius: 6px;
		overflow: hidden;

		.u-border-top:after {
			border: none !important;
		}

		.u-cell-item-box .u-border-bottom:last-child:after {
			border: none !important;
		}
	}

	.u-icon__icon {
		color: #fff !important;
	}

	.u-cell {
		padding: 8px 4px !important;
		text-align: center !important;

		.u-cell_title {
			width: 100% !important;
		}
	}

	.u-dropdown__menu__item {
		justify-content: flex-end !important;
	}

	.u-dropdown__menu__item__text {
		color: #fff !important;
	}

	&.bg {
		background-color: #56566b;
		border-radius: 4px;

		.u-dropdown__menu__item .u-flex {
			flex: 1;
			padding: 0 12px;
			justify-content: space-between;
		}

		.u-dropdown__content {
			margin-top: 6px;
		}
	}
}

.u-dropdown__content__mask {
	background: transparent !important;
}

.dialog-bg {
	background-color: #393948;
	box-shadow: 0 0 33px rgba(34, 34, 44, .245528);
	border-radius: 13px;
}

.input-bg {
	height: 48px;
	background: #5a5a6d;
	border-radius: 8px;
	display: block;
	font-size: 15px;
	margin: 0 auto;
	color: #fefefe;
	border: unset;
	display: flex;
	align-items: center;
	padding: 0 14px;
	justify-content: space-between;

	.uni-input {
		background: #5a5a6d !important;
		border-color: #5a5a6d !important;
	}

	.uni-input-placeholder {
		color: rgb(151, 151, 157) !important;
	}

	&+.input-bg {
		margin-top: 16px;
	}
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrap {
	padding: 0 22px;
}

.gaps {
	display: block;
	background-color: #fefefe;
	opacity: 0.05;
	height: 1px;
	margin: 27px 0px;
	width: 100%;
}

.ok-btn {
	margin-top: 60px;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	background: linear-gradient(131.47deg, #fc5d9f -37.41%, #5863fc 111.11%);
	border-radius: 8px;
	color: rgb(255, 255, 255);
}

.up {
	color: #2cc197;
}

.down {
	color: #ff6b6b;
}

.up_bg {
	background-color: #2cc197;
}

.down_bg {
	background-color: #ff6b6b;
}